*{
    margin: 0;
    font-family: arial;
    color: white;
}

main{
    background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.1)), url(fundo2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 50px;
}

h4{
    font-size: 20px;
    background: white;
    color: black;
    margin-top: 20px;
    margin-bottom: 40px;
}

a{
    border: 1px solid white;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-size: 30px;
    transition: 1s ease;
}
a:hover{
    color: #000;
    background: #fff;
}

